<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
          
          <h4><%= username %></h4>
          <% if(!username){ %>
            <form action="/login" method="post" id="login">
              <label for="login">Login:</label>
              <input type="text" id="login" name="username">
              <button type="submit" form="login" value="Submit" style="position: relative;">Login</button>
            </form>
          <% } else{ %>  
            <form action="/logout" method="post" id="logout">
              
              <button type="submit" form="logout" value="Submit" style="position: relative;">Logout</button>
            </form>
         <% } %>
        </div>
      </div>
    </nav>
  </header>
  