<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREREREQAAAAAAAAAAAAAAABABABAAAAAAEAEAEAAAAAAQAREQAAAAABABABAAAAAAEAEAEAAAAAAQABEAAAAAABAAAAAAAAARERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAMAPAAD//wAA9t8AAPbfAAD2HwAA9t8AAPbfAAD3PwAA9/8AAMH/AAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
</head>
<body>
    <h2>TinyApp</h2>
    <h4>Login</h4>
    <br>
    <form action="/login" method="post" id="login">
        <label for="email">Email:</label>
        <input type="email" name="email">
        <br>
        <br>
        <label for="email">Password:</label>
        <input type="password" name="password">
        <button type="submit" form="login" value="Submit" style="position: relative;">Submit</button>
    </form>
    
</body>
</html>