<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREREREQAAAAAAAAAAAAAAABABABAAAAAAEAEAEAAAAAAQAREQAAAAABABABAAAAAAEAEAEAAAAAAQABEAAAAAABAAAAAAAAARERAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD//wAA//8AAMAPAAD//wAA9t8AAPbfAAD2HwAA9t8AAPbfAAD3PwAA9/8AAMH/AAD//wAA//8AAP//AAD//wAA" rel="icon" type="image/x-icon" />
        
    </head>
    <body>
        <h2>TinyApp</h2>
        <h4>Create Account</h4>
        <br>
        <form action="/register" method="post" id="register">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <br>
            <br>
            <label for="email">Password:</label>
            <input type="password" name="password">
            <button type="submit" form="register" value="Submit" style="position: relative;">Submit</button>
        </form>
        <br>
        <p>If you're already registered, go to <a href="/login">Login</a></p>
    </body>
</html>